.info {
  height: 25vh;
  background-image: url(../../img/showcase.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: $text-color;
  h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
  }
}

.html-css {
  height: 45vh;
  display: flex;
  padding: 0 1rem;
  .card {
    text-align: center;
    padding: 0 2rem;
  }
  img {
    margin: 4rem 0 1.5rem 0;
  }
  h3 {
    margin-bottom: 1rem;
  }
}
